@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Eczar|Roboto&display=swap');
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --logoFont: 'Akronim', serif;
}

body {
  font-family: 'Roboto', cursive;
}

[type="radio"]:checked, [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.xx {
  border: none !important;
  box-shadow: none !important;
}

.xxx {
  padding: 0 !important;
}

.pointer {
  cursor: pointer;
}

.fixed-h-80 {
  height: 80vh !important;
  overflow-y: scroll;
}

.fake-height {
  height: 50vh !important;
}

/* Header */

.logo-font {
  font-family: 'Akronim', serif;
  font-size: 2rem !important;
  font-weight: 400;
}

.no-border {
  border-radius: 0 !important;
}

.nav {
  max-height: 64px;
  box-shadow: 0 2px 12px rgb(24, 24, 24);
}

.nav-tabs .nav-link {
  width: 50%;
  text-align: center;
  font-size: 1.2em;
  color: #000;
}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background: rgb(68, 68, 68);
  /* IE */
  background: rgba(0, 0, 0, 0.78);
  /* NON-IE */
}

/* Header */

/* Carousel */

.carousel-height {
  height: calc(100vh - 64px)
}

.car-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 64px;
  left: 0;
  z-index: 5;
  background: rgba(71, 71, 71, 0.435);
}

.car-form-title {
  font-family: 'Akronim', serif;
  color: white;
  font-size: 4em;
  text-transform: capitalize;
  text-shadow: -13px 11px 2px black;
}

.location-button-radio:checked+label, .location-button-radio:not(:checked)+label {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  width: 100%;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: center;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 300ms linear;
  text-stroke: 1px black;
  -webkit-text-stroke: 2px black;
  text-fill-color: transparent;
  color: transparent;
  background-color: transparent;
}

.location-button-radio:checked+label::before, .location-button-radio:not(:checked)+label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(138deg, rgb(255, 0, 0), rgb(251, 255, 0)); */
  background-color: transparent;
  z-index: -1;
}

.location-button-radio:checked+label::before {
  transition: background .4s ease;
  background-color: white;
}

.location-button-radio:checked+label span, .location-button-radio:not(:checked)+label span {
  position: relative;
  display: block;
}

.location-button-radio:checked+label span::before, .location-button-radio:not(:checked)+label span::before {
  position: absolute;
  content: attr(data-hover);
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-stroke: transparent;
  text-fill-color: black;
  color: black;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.location-button-radio:not(:checked)+label span::before {
  max-height: 0;
}

.location-button-radio:checked+label span::before {
  max-height: 100%;
}

.location-buttons {
  border: 0.1px solid black;
  box-shadow: -13px 11px 8px black;
}

.location-button {
  margin-bottom: -12px;
}

.location-field {
  width: 100%;
  border-radius: 0 0 8px 8px;
  border: none;
  padding: .5rem;
  text-align: center;
  font-size: 1.5rem;
  outline: none;
}

/* Carousel */

/* Instructions */

.section-title-font {
  font-family: 'Akronim', serif;
  text-transform: capitalize;
}

.instruction {
  min-height: 220px;
  display: flex;
  font-family: 'Akronim', serif;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 2em;
  flex-wrap: wrap;
}

.instruction-1 {
  text-shadow: -13px 11px 2px black;
}

.instruction-2 {
  text-shadow: 0 11px 2px black;
}

.instruction-3 {
  text-shadow: 13px 11px 2px black;
}

.instruction-4 {
  text-shadow: 0 16px 2px black;
  font-size: 3em;
}

.rainbow-bg {
  width: 100%;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
  border-radius: 0 0 8px 8px;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%
  }
  50% {
    background-position: 100% 19%
  }
  100% {
    background-position: 0% 82%
  }
}

/* Instructions */

/* Profile */

.profile-image {
  font-weight: 900;
  font-size: 5em;
  background: #ccc;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 1rem;
  border-radius: 50%;
}

.profile-scrollspy {
  display: flex;
  flex-direction: column;
  max-width: 130px !important;
  justify-content: center;
  height: 80vh !important;
  position: fixed;
}

.profile-scrollspy-bottom {
  bottom: 200px !important;
}

.profile-sections {
  width: calc(95% - 130px) !important;
}

.profile-order-list {
  padding: .25rem !important;
  width: 200px !important;
  margin-right: 20px;
  border: 1px solid #181818 !important;
  border-radius: 0 !important;
}

.profile-order-list-image {
  border: none !important;
  object-fit: contain;
  max-width: 80px !important;
}

/* Profile */

/* Home */

.home-location {
  font-family: 'Akronim', serif;
  font-size: 1.4em;
}

.slick-prev:before, .slick-next:before {
  color: #000 !important;
  font-size: 2.5rem !important;
}

.slick-slide:not(:first-child):not(:last-child) {
  padding: 0 8px;
}

.slick-slide:first-child {
  padding-right: 8px;
}

.slick-slide:last-child {
  padding-left: 8px;
}

.card-body {
  padding: 1rem 0.2rem !important;
}

.hidden-o {
  overflow: hidden;
}

.card-image-custom {
  transition: transform .4s ease;
}

.card-custom:hover .card-image-custom {
  transform: scale(1.1);
}

.card-custom {
  cursor: pointer;
}

/* Home */

/* Vendor */

.vendor-header {
  height: 380px !important;
  overflow: hidden;
}

.vendor-card {
  margin: 8px;
  max-height: 160px !important;
  overflow: hidden;
  border-radius: 2px !important;
}

.vendor-card-title {
  font-size: 1rem;
  color: #181818;
  margin-bottom: 2px !important;
}

.vendor-card-text {
  font-size: .8rem;
  color: #464646;
  max-height: 80px;
  overflow: hidden;
  margin: 0 0 4px;
}

.vendor-card-body {
  padding: 20px 0 20px 5px !important;
}

.vendor-card-col {
  max-width: 206px !important;
  padding-right: 0 !important;
}

.vendor-card-image {
  padding-left: 0 !important;
}

.vendor-img {
  border: none !important;
  object-fit: contain;
  max-width: 144px !important;
}

.scroll-inactive {
  color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid transparent;
  padding: 2px 4px;
  transition: border .4s ease;
}

.scroll-active {
  border: 1px solid #181818;
  border-radius: 0.25rem;
}

.order-dropdown {
  width: 40vw;
  min-height: 40vh;
  padding: .5rem 2rem !important;
  max-height: 65vh;
  overflow: hidden;
  position: relative;
}

.order-dropdown-button {
  padding-right: 2rem !important;
  border-radius: 0 !important;
  padding: 15px 20px !important;
}

.order-button {
  border-radius: 12% !important;
}

.order-list {
  overflow-y: scroll;
  border-radius: 0 !important;
  max-height: 33vh;
}

.order-list::-webkit-scrollbar {
  width: 0;
}

.order-box {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-price-box {
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Vendor */

/* Checkout */

.checkout-order-thumbnail {
  width: 70px !important;
}

.checkout-radio-label {
  border: 1px solid #181818;
  padding: 1rem;
  border-radius: .25rem;
}

.checkout-radio-button:checked+label {
  background: #181818;
  color: white;
  transition: color .4s ease, background .8s ease;
}

/* Checkout */

.error404 {
  background: url("https://i.ibb.co/yWmzY0w/little-girl-feel-hungry-10045-208.jpg") no-repeat center fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.error404-text {
  font-size: 3rem;
  font-weight: bolder;
  box-shadow: 2px 3px 8px #000;
  border-radius: 25px;
}

.checkout-order-thumbnail {
  width: 70px !important;
}

.vendor-radio-label {
  border: 1px solid #181818;
  padding: 1rem;
}

.vendor-radio-button:checked+label {
  background: #181818;
  color: white;
  transition: color .4s ease, background .8s ease;
}

.vendor-man-image {
  width: 5rem;
}

.mg-2 {
  margin-left: 4px;
}

.floating-available {
  position: absolute;
  z-index: 10;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.glowing-red {
  outline: none;
  color: #ff5c5c;
  border-color: #ff4545;
  text-shadow: 0 0 2px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff5656, 0 0 30px #ff5656, 0 0 40px #fd7e7e, 0 0 50px #7c4d4d;
}

.glowing-green {
  outline: none;
  color: #63ff4a;
  border-color: #5eff45;
  text-shadow: 0 0 2px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff5656, 0 0 30px #ff5656, 0 0 40px #fd7e7e, 0 0 50px #7c4d4d;
  ;
}

.meals-btn {
  position: fixed;
  font-size: 4rem;
  right: 2rem;
  bottom: 4rem;
  cursor: pointer;
}

.vendor-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  min-width: 100px;
  max-width: 250px;
  min-height: 100px;
  margin: 0 auto 1rem auto;
}